@model IndexViewModel
@{
    ViewData["Title"] = "TechOne";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="text-center align-items-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div class="input-group mb-3 text-input">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number"
                   step=".01"
                   asp-for="Amount"
                   class="form-control"
                   placeholder="Enter the amount" />
        </div>

        <button type="submit" class="btn btn-primary"> Show converted text </button>

        <h2>@Model.Text</h2>
    </div>
}