@model IndexViewModel
@{
    ViewData["Title"] = "TechOne";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="text-center align-items-center">
        <h1 class="display-4">Welcome to the N2T web application</h1>
        <p>Kindly enter the desired number in the textbox below to get it's conversion in the text format.</p>

        <div class="input-group mb-3 text-input">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number"
                   step=".01"
                   asp-for="Amount"
                   class="form-control"
                   placeholder="Enter the amount"
                   value="null" />
        </div>

        <button type="submit" class="btn btn-primary"> Show converted text </button>

        @if (!Model.Text.Contains("INVALID") && !Model.Text.Contains("Nothing"))
        {
            <h3>You entered: $ @Model.Amount</h3>
        }
        <h3>@Model.Text</h3>
    </div>
}